  <div class="row">
    <div class="col-md-6  col-md-offset-3">
      <div class="well well-md">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

        <!-- name and email fields -->

        <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "username"%><br>
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <%= f.label :email %><br />
            <%= f.email_field :email, type: "email", class: "form-control", id: "exampleInputEmail2", placeholder: "email@domain.com" %>
        </div>

        <!-- password and password confirm fields -->

        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <%= f.label :password %>
            <%= f.password_field :password, type: "password", class: "form-control", id: "exampleInputPassword2", placeholder: "password" %><br>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, type: "password", class: "form-control", id: "exampleInputPassword2", placeholder: "confirm password"  %>
        </div>


            <%= f.button :submit, "Sign up", class: "btn btn-success btn-lg" %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
