<div class="row">
  <div class="col-md-6 col-md-offset-3 ">

<div class="box box2">
          <%= image_tag(@pin.image(:medium), :class => "img-rounded img-responsive" )%>

      <p class="description">
       <%= @pin.description %>
      </p>
      <p>
        <strong>
          Posted by <%= @pin.user.name %>
        </strong>
      </p>
      <% if current_user == @pin.user %>
        <%= link_to 'Edit', edit_pin_path(@pin) %> |
      <% end %>
      <%= link_to 'Back', pins_path %>
  </div>
</div>

</div>

