<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <div class="well well-lg">
      <h2>Sign in</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-controll'}) do |f| %>


        <%= f.input :email, placeholder: "user@example.com" %>
        <%= f.input :password, placeholder: "8 character minimum" %>
        <%= f.input :remember_me, as: :boolean%>

        <div class="form-group">

            <%= f.button :submit, "Sign in", class: "btn btn-primary" %>

        </div>
      </div>
          <%= render "devise/shared/links" %>
   </div>
</div>

<% end %>

