<!-- name and email fields -->

        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "username"%><br>
            <%= f.label :email %><br />
            <%= f.email_field :email, type: "email", class: "form-control", id: "exampleInputEmail2", placeholder: "email@domain.com" %>
        </div>

<!-- password and password confirm fields -->

        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <%= f.label :password %>
            <%= f.password_field :password, type: "password", class: "form-control", id: "exampleInputPassword2", placeholder: "password" %><br>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, type: "password", class: "form-control", id: "exampleInputPassword2", placeholder: "confirm password"  %>
        </div>
